<%= @event.name %>
<br/>
<%= @event.date.strftime("%d %b %Y, %I:%M %p") %>
<br/>
<%= @event.location %>
<br/>
<p>Attendees</p>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
    <br/>
  <% end %>
</ul>
